---
---

@import "{{ site.theme }}";

body header img {
    width: 7vw;
    min-width: 3cm;
    height: auto;
    margin: auto 3vw;
}

.photo {
    float: left;
    margin-right: 2vw;
}

.photo > img {
    width: 10vw;
}