---
---

@import "{{ site.theme }}";

body header img {
    width: 7vw;
    height: auto;
    margin: auto 3vw;
}

footer > p > small {
    // Sorry
    visibility: hidden;
}

.photo {
    float: left;
    margin-right: 2vw;
}

.photo > img {
    width: 10vw;
}